<!-- MYPOST-CADASTRO -->
<div class="tabs mypost-cadastro hide" id="tab2">
    <form action="/Home/CadastrarUsuario" method="post" class="form-cadastro">
        <div class="div-control">
            <div class="control">
                <i class="icon-input i-username"></i>
                <input type="text" name="Nome" class="required" placeholder="Nome" />
            </div>
        </div>

        <div class="div-control">
            <div class="control">
                <i class="icon-input i-email"></i>
                <input type="text" name="Email" class="required" placeholder="E-mail" />
            </div>
        </div>

        <div class="div-control">
            <div class="control">
                <i class="icon-input i-username"></i>
                <input type="text" name="Usuario" class="required" placeholder="Usuário" />
            </div>
        </div>

        <div class="div-control">
            <div class="control">
                <i class="icon-input i-password"></i>
                <input type="password" name="Senha" class="required" placeholder="Senha" />
            </div>
        </div>

        <input class="submit btn-enviar" type="submit" value="Cadastrar">
    </form>
</div>