<!-- MYPOST-LOGIN -->
<div class="tabs" id="tab1">
    <form action="#" method="post" class="form-login">
        <div class="div-control">
            <div class="control">
                <i class="icon-input i-username"></i>
                <input type="text" name="Usuario" class="required txt-usuario" placeholder="Usuário" />
            </div>
        </div>

        <div class="div-control">
            <div class="control">
                <i class="icon-input i-password"></i>
                <input type="password" name="Senha" class="required txt-senha" placeholder="Senha" />
            </div>
        </div>

        <input class="submit btn-enviar" type="submit" value="Login">
        <a href="#">recuperar senha.</a>
    </form>
</div>